<section class="content">

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-bd lobidrag">
        <div class="panel-heading">
          <div class="btn-group">
<!--            <a class="btn btn-success" (click)="open(content)"> <i class="fa fa-plus"></i>  Add patient</a>-->
            <button class="btn btn-success" (click)="open(content)"><i class="fa fa-plus"></i> Add Patient</button>
          </div>

        </div>
        <div class="panel-body">
          <div class="table-responsive">


            <div class="form-group col-md-4">
              <label>Search:</label>
              <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
            </div>
            <table id="dataTable"  class="table table-bordered table-hover">
              <thead class="success">
              <tr>
<!--                <th>ID</th>-->
                <th>Name</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>OPD</th>
                <th>sex</th>
                <th>Total</th>
                <th>Received</th>
                <th>Loan</th>
                <th>See Records</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let patient of patients | filter:term | paginate:{itemsPerPage: 5, currentPage:p}">
                <td>{{patient.patient_name}}</td>
                <td>{{patient.phone_number}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.OPD}}</td>
                <td>{{patient.gender}}</td>
                <td>{{patient.total_fee}}</td>
                <td>{{patient.received_amount}}</td>
                <td>{{patient.loan_amount}}</td>
                <td><a href="" type="button" class="btn btn-primary btn-outline w-md m-b-5">See Records</a></td>
                <td><a href="" type="button" class="btn btn-primary btn-outline w-sm"><i class="fa fa-edit"></i></a></td>
              </tr>

              </tbody>
            </table>
            <div id="pagination">
              <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </div>
          </div>

        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Patient</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>

  </div>
</section>

