<div class="sidebar-container">
  <div class="sidebar-logo">
    SDC Project
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a routerLink="/">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/add-patient">
        <i class="fa fa-user-plus" aria-hidden="true"></i> Add Patient
      </a>
    </li>
    <li>
      <a routerLink="/patients-list">
        <i class="fa fa-user" aria-hidden="true"></i> Patients List
      </a>
    </li>
    <li>
      <a routerLink="/patients-payment">
        <i class="fa fa-user" aria-hidden="true"></i> Patients Payment
      </a>
    </li>
    <li>
      <a routerLink="/add-profile">
        <i class="fa fa-user" aria-hidden="true"></i> Add Profile
      </a>
    </li>
    <li class="header">Another Menu</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i> Friends
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog" aria-hidden="true"></i> Settings
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Information
      </a>
    </li>
  </ul>
</div>


