<header class="main-header">
  <a href="http://127.0.0.1:8000" class="logo"> <!-- Logo -->
    <span class="logo-mini">
                        <!--<b>A</b>H-admin-->
                        <img src="http://127.0.0.1:8000/assets/dist/img/mini-logo.png" alt="">
                    </span>
    <span class="logo-lg">
                        <!--<b>Admin</b>H-admin-->
                        <img src="http://127.0.0.1:8000/assets/dist/img/logo.png" alt="">
                    </span>
  </a>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top ">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-tasks"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="pe-7s-bell"></i>
            <span class="label label-warning">0</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header"><i class="fa fa-bell"></i> 0 Appointments</li>
            <li>
              <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
              </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
            </li>
            <li class="footer">
              <a href="#"> See all Notifications <i class=" fa fa-arrow-right"></i></a>
            </li>
          </ul>
        </li>
        <!-- Tasks -->

        <!-- user -->
        <li class="dropdown dropdown-user admin-user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="user-image">
              <img src="http://127.0.0.1:8000/images\1563386764_8926EEB0-AC30-443F-99B4-F829AECFDF2B.jpeg" class="img-circle" height="40" width="40" alt="User Image">

            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="http://127.0.0.1:8000/profile/create"><i class="fa fa-user"></i> Change Profile</a></li>
            <li><a href="http://127.0.0.1:8000/changepassword"><i class="fa fa-gear"></i> Change Password</a></li>
            <li><a href="http://127.0.0.1:8000/logout" onclick="event.preventDefault();
          document.getElementById('logout-form').submit();"><i class="fa fa-sign-out"></i> Logout</a></li>
            <form id="logout-form" action="http://127.0.0.1:8000/logout" method="POST" style="display: none;">
              <input type="hidden" name="_token" value="FvtPNcDUtmxXbK5nG98DVb25mgLbnweI3iCBOGES">
            </form>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
